body {
  font-family: "Sintony", sans-serif !important;
  background-image: url("../Images/Gray-Geo-Background.jpg");
  background-size: cover;
}

h1,
footer,
.navbar {
  font-family: "Lexend Deca", sans-serif;
}
.navbar {
  color: white !important;
  background-color: grey;
}

.about-me-heading {
  font-size: 24px;
}
.responsive-img {
  width: auto;
  height: auto;
}

/* .row {
  border: red solid 10px;
}

.col {
  border: green solid 10px;
} */

.row-style {
  padding-bottom: 20px;
}

#footer-pad {
  padding-bottom: 150px;
}
/* blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
} */
